@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
    --primary-color: rgb(25, 146, 212);
    --secondary-color: rgb(225, 232, 240);
    --text-color: rgb(51, 51, 51); 
    --txt-color: rgb(255, 255, 255);    
    --accent-color: rgb(250, 204, 21);

    /* Typography */
    --h1-font-size: clamp(1.75rem, 4vw, 2.5rem); line-height: 1.1;
    --h2-font-size: clamp(1.2rem, 3vw, 1.5rem);    line-height: 1.2;
    --h3-font-size: clamp(0.85rem, 2vw, 1rem);  line-height: 1.2;
    --h4-font-size: clamp(0.5rem, 1vw, 0.5rem);  line-height: 1.2;

    /* Spacing */
    --section-bottom-margin: 2.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::before, ::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f8;
    color: #333;
    line-height: 1.6;
    display: grid;
    grid-template-columns: auto 2fr;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    /* margin-bottom: 1rem; */
    font-size: 100%;
    font-weight: 600;
}

a {
    text-decoration: none;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

.sidebar {
    padding: 1.5rem 2rem;
    background-color: rgb(25, 146, 212);
}

.dashboard__title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--txt-color);
    font-size: var(--h1-font-size);
    margin-bottom: var(--section-bottom-margin);
}

.dashboard__icon {
    width: 45px;
    height: 45px;
    margin-right: 0.75rem;
    fill: var(--txt-color);
}

nav {
    padding-left: 0.5rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: var(--txt-color);
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.links__wrapper {
    margin-bottom: var(--section-bottom-margin)
}

.sidebar__icon {
    width: calc(45px / 1.618);
    height: calc(45px / 1.618);
    fill: var(--txt-color);
    margin-right: calc(2 * 0.75rem);
}

.nav__title {
    font-size: var(--h2-font-size);
}

/* Main Contents Design */
.main__content {
    background-color: var(--secondary-color);
}

.main__header {
    background-color: var(--txt-color);
    padding: 1.5rem 2rem;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.search__profile__pic {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.profile__pic,
.profile {
    display: flex;
    align-items: center;
}

.profile > img { 
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin-right: 0.75em;
}

.username {
    font-size: var(--h3-font-size);
}

.search__bar input {
    width: 500px;
    padding: 0.5em 1em;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    font-size: 1rem;
}

.search__bar input:focus {
    outline: none;
}

.profile__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile__details_1 {
    display: flex;
    align-items: center;
    min-width: 70%;
}

.profile__details_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.profile__details_2 span p {
    background-color: var(--primary-color);
    border-radius: 50px;
    padding: 0.25em 0.5em;
    color: var(--txt-color);
    width: 80px;
    text-align: center;
}

.profile__img img {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    margin-right: 0.75em;
}

.profile__info h2 {
    font-size: var(--h2-font-size);
}

.main__icon {
    width: calc(45px / 1.618);
    height: calc(45px / 1.618);
    fill: var(--text-color);
    margin-right: calc(2 * 0.75rem);
}

.dashboard__container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 2.5em 1.5em;
    gap: 1em;
}

.dashboard__project__items {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-auto-rows: minmax(155px, auto);
    gap: 1em;
    
}

.dashboard__content__title {
    margin-bottom: 1.5rem;
}

.section__title {
    font-size: var(--h2-font-size);
}

.engagement__icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.react__icon {
    width: 20px;
    height: 20px;
}

.project__card {
    position: relative;
    background-color: var(--txt-color);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project__card p {
    margin-bottom: 1em;
}

.project__card::before {
    content: "";
    top: 0;
    left: 0;
    width: 8px;
    height: 100%;
    background-color: var(--accent-color);
    position: absolute;
    overflow: hidden;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.notification__title,
.trending__title {
    margin-bottom: 1.5rem;
}

.notifications,
.trending__container {
    background-color: var(--txt-color);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
}

.notification__item h3 {
    font-size: var(--h3-font-size);
}

.notification__item:nth-child(-n + 2) {
    border-bottom: 1px solid var(--text-color);
    margin-bottom: 1em;
    padding-bottom: 1em;
}   

.user__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.profile__text p {
    font-size: 0.85rem;
}

.profile__text h3 {
    font-size: var(--h3-font-size);
}