@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::before, ::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f8;
    color: #333;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    font-size: 100%;
    font-weight: 600;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

.sidebar {
    border: 2px solid red;
}

.sidebar__icon {
    width: 20px;
    height: 20px;
}

